body {
    margin: 1em;
    text-align: center;
}

.markup_cutter_block canvas {
    display: block;
    width: 100%;
    margin: 1em auto;
    background: #fff;
    border: 4px solid #ccc
}

#control_panel {
    display: inline-block;
}

.page-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: 80px;*/
}

.card{
    margin: 10px;
}
.card  > * {
    margin: 10px;
}

#detect-button:enabled .status-active {
    display: block;
}

#detect-button:enabled .status-generate {
    display: none;
}

#detect-button:disabled .status-generate{
    display: block;
}

#detect-button:disabled .status-active {
    display: none;
}

#preview {
    align-self: center;
    object-fit: contain;
    display: block;
    height: auto;
    width: auto;
    max-height: 50%;
    max-width: 80%;
}

#scroller {
    align-self: center;
    overflow:scroll;
    max-height: 90vh;
    object-fit: contain;
    display: block;
    width: auto;
    max-width: 100%;
}